<a href="https://colab.research.google.com/github/edugovea/Introduccion_Machine_Learning_Tecnicatura_Data-Science/blob/main/API_1_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Título Principal

import pandas as pd

In [ ]:
df = pd.read_excel('/content/titanic_M1.xlsx')

In [ ]:
## Sección Importante

df.head(3)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,2113375.0,B5,S,2,NaN,"St Louis, MO"
1,1.0,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,1515500.0,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,1515500.0,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
# ---CONSIGNA A: Describir valores faltantes---

df.isnull().sum()

pclass         76
survived        0
name            0
sex             0
age           239
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

In [ ]:
# --- CONSIGNAC B: Completar Pclass ---
print("--- CONSIGNAC B: Rellenando 'pclass' ---\n")

# Usamos .fillna() para rellenar los valores nulos (NA) en una columna específica.
# Asignamos el valor 2, como se pidió.
# 'inplace=True' significa que modificamos al DataFrame original directamente.

df['pclass'] = df['pclass'].fillna(2)
print("Valores NA en 'pclass' rellenados con '2'.")
print("-------------------------------------------\n")

df.isnull().sum()

--- CONSIGNAC B: Rellenando 'pclass' ---

Valores NA en 'pclass' rellenados con '2'.
-------------------------------------------

pclass          0
survived        0
name            0
sex             0
age           239
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

In [ ]:
# --- CONSIGNAC: Limpiando e imputando 'sex' ---
print("--- CONSIGNAC: Limpiando e imputando 'sex' --- \n")
# Primero, vemos qué valores únicos hay, para detectar inconsistencias.
print('Valores únicos en "sex" (antes):', df['sex'].unique())

df['sex'].count()

# Reemplazamos valores inconsistentes. Por ejemplo, si 'Mujer' aparece, lo mapeamos a 'female'.
df['sex'] = df['sex'].replace('Mujer', 'female')
df['sex'] = df['sex'].replace('Hombre', 'male')

print('\n Valores únicos en "sex" (después):', df['sex'].unique())
print('Columna "sex" limpia y completada.')
print('------------------------------------------- \n')

--- CONSIGNAC: Limpiando e imputando 'sex' ---

Valores únicos en "sex" (antes): ['female' 'male' 'Hombre' 'Mujer']

 Valores únicos en "sex" (después): ['female' 'male']
Columna "sex" limpia y completada.
-------------------------------------------

In [ ]:
# --- CONSIGNAC D: Rellenar 'Age' con el promedio ---
print("--- CONSIGNAC D: Rellenando 'age' con el promedio ---\n")

print("Valores NA en 'age' antes:", df['age'].isnull().sum())

# Calculamos el promedio (la media) de la columna 'age'.
# pandas ignora automáticamente los valores NA al calcular el promedio.
mean_age = df['age'].mean()
print(f"El promedio de edad calculado es: {mean_age:.2f} años.")

# Rellenamos todos los NA en la columna 'age' con el promedio que calculamos.
df['age'] = df['age'].fillna(mean_age)
print("Valores NA en 'age' después:", df['age'].isnull().sum())
print("Valores NA en 'age' rellenados con el promedio.")
print("\n-------------------------------------------------\n")

--- CONSIGNAC D: Rellenando 'age' con el promedio ---

Valores NA en 'age' antes: 239
El promedio de edad calculado es: 30.03 años.
Valores NA en 'age' después: 0
Valores NA en 'age' rellenados con el promedio.

-------------------------------------------------

In [ ]:
# --- CONSIGNAC E: Rellenar 'Embarked' ---
print("--- CONSIGNAC E: Rellenando 'embarked' ---\n")

print("Valores NA en 'embarked' antes:", df['embarked'].isnull().sum())

# Rellenamos los datos vacíos en la columna 'embarked' con el valor 'S'.
df['embarked'] = df['embarked'].fillna('S')
print("Valores NA en 'embarked' rellenados con 'S'.")
print("-------------------------------------------\n")

# --- VERIFICACIÓN FINAL: Valores Faltantes (DESPUÉS) ---
print("--- VERIFICACIÓN: Valores Faltantes (DESPUÉS de limpiar) ---")
print("Valores NA en 'embarked' después:", df['embarked'].isnull().sum())

--- CONSIGNAC E: Rellenando 'embarked' ---

Valores NA en 'embarked' antes: 2
Valores NA en 'embarked' rellenados con 'S'.
-------------------------------------------

--- VERIFICACIÓN: Valores Faltantes (DESPUÉS de limpiar) ---
Valores NA en 'embarked' después: 0